body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* colour palette and set base*/
:root{
  --neutral-clr: #1c2228;
  --dark-clr: #25262f;
  --light-clr: #2e3134;
  --text-clr: rgb(239, 239, 239);
  --red-highlight: rgb(222, 77, 37);
  --red-highlight-dark: rgb(222, 77, 37, 0.6);
  background-color: var(--light-clr);
  color: var(--text-clr);
  accent-color: var(--red-highlight);
}

*,
*::before,
*::after{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header{
  width: 100%;
  text-align: center;
  background-color:var(--red-highlight);
  align-self: center;
  color: var(--text-clr);
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  position:sticky;
  top: 0;
  box-shadow: 0px 25px 20px -20px rgba(0, 0, 0, 0.5); 
  z-index: 2;
}
.box{
  margin: 2%;
    opacity: 1;
    border: 5px solid var(--red-highlight-dark);
    border-radius: 25px;
    padding: 10px;
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 300px;
    min-height: 350px;
    background-color: var(--neutral-clr);
}
.small-box{
    margin: 2%;
    opacity: 1;
    border: 10px solid var(--red-highlight);
    border-radius: 25px;
    padding: 10px;
    vertical-align: top;
    display: inline-block;
    text-align: center;
    background-color: var(--neutral-clr);
}
.review-box{
  margin: 2%;
  opacity: 1;
  border: 2px solid var(--red-highlight);
  border-radius: 25px;
  padding: 10px;
  vertical-align: top;
  display: inline-block;
  text-align: center;
  background-color: var(--neutral-clr);
}
.box:hover{
  border: 5px solid var(--red-highlight);
}

.header a{
  color: inherit;
  text-decoration: none;
  height:100%;
  align-items: center;
}
.header a:hover{
  color: var(--neutral-clr);
}
.header ul{
  display: inline;
  margin-left: 600px;
}
.header li{
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}
.siteTitle{
  margin-left: 00px;
  font-size:large;
  font-weight: bold;
}

.box:hover{
  cursor: pointer;
}
ul{
  list-style: none;
  align-self: center;
  justify-items: center;
}
.search-input{
    padding: 10px;
    outline: none;
    border: 1px solid var(--light-clr);
    border-radius: 25px 25px 25px 25px;
    margin-left: 20px;
    box-sizing: border-box;
    min-width: 200px;
}
/* for browse */
.headerB{
  display: flex;
}
.headerB button{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 15px;
}
.filter{
  display: flex;
  padding-left: 20px;
}
.filter select{
margin-top: 10px;
margin-bottom: 10px;
margin-left: 5px;
border-radius: 25px;
padding-right: 5px;
}
button{
    border: none;
    padding: 5px;
}
button#register{
  border: none;
    padding: 5px;
    margin-top: 27px;
    margin-bottom: 38px;
    width: 51%;
    height: 35px;
    background-color: var(--red-highlight);
}
button#login {
  border: none;
  padding: 5px;
  height: 35px;
  margin-top: 27px;
  margin-bottom: 38px;
  margin-left: auto;
  margin-right: auto;
  width: 51.5%;
  background-color: var(--red-highlight);
}
input#search-input {
  display: block;
  height: 50px;
  margin-left: 48px;
  margin-right: 36px;
  width: 30%;
  background-color: rgba(255,255,255,0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
}
button:hover{
  cursor: pointer;
  background-color: var(--red-highlight);
  color: var(--text-clr);
}
#movie-results{
  display: flex;
}
#movie-results ul:hover{
  border: 5px solid var(--red-highlight-dark);
}
#movie-results ul{
  border: 5px solid #aa1d13;
  border-radius: 25px;
  margin: 2%;
    opacity: 1;
    border: 5px solid var(--red-highlight-dark);
    border-radius: 25px;
    padding: 10px;
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 300px;
    min-height: 150px;
    background-color: var(--neutral-clr);
}
#year-sort-results ul:hover{
  border: 5px solid var(--red-highlight-dark);
}
#year-sort-results ul{
  border: 5px solid #aa1d13;
}
.recommendations{
  margin: 2%;
  opacity: 1;
  border: 10px solid var(--red-highlight);
  border-radius: 25px;
  padding: 10px;
  text-align: center;
  background-color: var(--neutral-clr);
}
.searchR{
  display: flex;
  justify-content: center;
  margin-top: -15px;
}
.searchR input{
  border-radius: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}
.link{
  box-shadow: inset 0 0 0 0 var(--red-highlight);
  color: var(--red-highlight);
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  font-family: 'Poppins', sans-serif;
  font-size: 27px;
  font-weight: 700;
  line-height: 1.5;
  text-decoration: none;
}
.link:hover {
  box-shadow: inset 300px 0 0 0 var(--red-highlight);
  color: white;
  padding: 5px;
}

.filler-poster {
  width: 302px;
  height: 468px;
  background-color: #dbdada;
  border-radius: 5px;
  margin-right: 15px;
  display: block;
  color: transparent;
  transform: translate(-1px, -3px);
}
.hide{
  display: none;
}

input[type="text"], input[type="password"], input[type="email"] +  a#register-link{
  display: block;
  height: 45px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  background-color: rgba(255,255,255,0.07);
  color: aliceblue;
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
}
a#register-link {
  font-size: 15px;
  display: block;
  position: relative;
  color: #adadad;
  align-items: left;
}